
<% visitor = notification.visitor %>
<% visitor = notification.visited %>

<div class="user-view clearfix ">
  <%= link_to public_user_path(notification.visitor) do %>
    <%=  image_tag notification.visitor.get_profile_image(80,80), class:"user-thumb", style:"width: 60px;"%>
  <% end %>
  <%== notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)}å‰)" %></span>
  <br>

</div>
