<%= render '/header' %>

<div class="container" >

<h3 class="font-weight-bold d-flex align-items-center justify-content-center mt-4">通知</h3>

<% if @notifications.exists? %>
    <div class="users-index">
        <%= render @notifications %>
    </div>
<% else %>
    <p>通知はありません</p>
<% end %>
